@font-face {
    font-family: 'Mona Sans';
    src: url('../Mona-Sans.woff2') format('woff2 supports variations'), url('../Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --white: #e8eaed;
    --header-height: 4rem;
}

html, body {
    font-family: "Mona Sans";
    color: var(--white);
}

button {
    all: unset;
}

header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: var(--header-height);
    background-color: #333;
    transition: all 0.2s ease;
}

section {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height) - 2rem);
}

.button-noborder {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.05s ease;
}

    .button-noborder:hover {
        background-color: #6666;
    }

    .button-noborder.active {
        background-color: #666;
    }

.button-tech {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.05s ease;
    background-color: #444;
    padding: 0.2rem;
}

    .button-tech:hover {
        background-color: #8888;
    }

    .button-tech.active {
        background-color: #777;
    }

.button-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.05s ease;
    background-color: #222;
    height: 3rem;
    font-weight: bold;
    border-bottom: 2px solid #444;
}

    .button-fill:hover {
        background-color: #6666;
    }

    .button-fill.active {
        background-color: #666;
    }

menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #2A2A2A;
    overflow: auto;
    align-content: flex-start;
}

    menu li {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10rem;
        height: 5.5rem;
        padding: 0 2rem;
        width: 13rem;
    }

    menu li div.symbol {
        width: 100%;
    }

main {
    position: relative;
    overflow: auto;
    flex: 1;
    background-color: #444;
}

aside {
    position: relative;
    padding: 1rem;
    background-color: #2A2A2A;
    height: 0;
    z-index: 3;
    overflow-y: auto;
    transition: width 0.5s ease, height 0.5s ease;
}

    aside .opener {
        position: absolute;
        background-color: #333;
        top: 2rem;
        right: 100%;
        padding: 0.5rem 1rem 0.7rem 1rem;
        text-align: center;
        border-radius: 1rem 0 0 1rem;
        transition: background-color 0.1s ease;
        border-bottom: 2px solid #666;
        font-size: 75%;
        cursor: pointer;
        animation: fadeInOpacity 0.2s ease;
    }

        aside .opener:hover {
            background-color: #555;
        }

        aside .opener span {
            padding-bottom: 1rem;
        }

        aside .opener img {
            transition: transform 0.2s ease;
        }

        aside .opener img.open {
            transform: rotate(180deg);
        }

    aside.open {
        height: 10rem;
    }

    aside .contents {
        width: 13rem;
        padding: 1rem;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

input[type=text], input.text, select {  
   border: 1px solid #333;  
   font-family: inherit;  
   border-radius: 5px;  
   color: inherit;  
   padding: 2px 10px;  
   height: 32px;  
   background-color: #222;  
   font-size: inherit;  
   text-align: inherit;  
}

   input[type=text]:enabled:hover, input.text:enabled:hover, select:enabled:hover {  
       border-color: #444;  
       background-color: #333;  
   }

    input[type=text]:disabled, input.text:enabled {
        background-color: #333;
        cursor: not-allowed;
    }

select {
    height: 38px;
    cursor: pointer;
}

div.property-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
    outline: none;
    font-size: 150%;
    transition: all 0.2s ease;
}

img.flowchart-icon {
    width: 48px;
    height: 48px;
    transition: all 0.2s ease;
}

@media (min-width: 500px) {
    h1 {
        font-size: 200%;
    }

    img.flowchart-icon {
        width: 64px;
        height: 64px;
    }

    header {
        padding: 1rem;
    }
}

h2.symbols {
    text-align: center;
    display: none;
}

.align-right {
    margin-left: auto;
    margin-right: 0;
}

@media (min-width: 800px) {
    section {
        flex-direction: row;
    }

    menu {
        flex-direction: column;
    }

        menu li {
            flex-basis: auto;
        }

    h2.symbols {
        display: block;
    }

    aside {
        width: 0;
        height: 100%;
    }

        aside.open {
            width: 15rem;
            height: 100%;
        }
}

.screen-wide, .screen-medium {
    display: none;
}

@media (min-width: 1620px) {
    .screen-wide {
        display: block;
    }
}

@media (min-width: 1270px) {
    .screen-medium {
        display: block;
    }
}

@media (min-width: 1140px) {
    .burger {
        display: none;
    }
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}