@font-face {
    font-family: 'Mona Sans';
    src: url('../Mona-Sans.woff2') format('woff2 supports variations'), url('../Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --white: #e8eaed;
    --header-height: 4rem;
}

html, body {
    font-family: "Mona Sans";
    color: var(--white);
}

button {
    all: unset;
}

header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: var(--header-height);
    padding: 1rem;
    background-color: #333;
}

section {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height) - 2rem);
}

.button-noborder {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.05s ease;
}

    .button-noborder:hover {
        background-color: #6666;
    }

    .button-noborder.active {
        background-color: #666;
    }

menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #222;
    overflow: auto;
    align-content: flex-start;
}

    menu li {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10rem;
        height: 5.5rem;
        padding: 0 2rem;
        width: 13rem;
    }

    menu li div.symbol {
        width: 100%;
    }

main {
    position: relative;
    overflow: auto;
    flex: 1;
    background-color: #444;
}

h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
    outline: none;
}

h2.symbols {
    text-align: center;
    display: none;
}

.align-right {
    margin-left: auto;
    margin-right: 0;
}

.burger {
    padding: 1rem;
}

@media (min-width: 800px) {
    section {
        flex-direction: row;
    }

    menu {
        flex-direction: column;
    }

        menu li {
            flex-basis: auto;
        }

    h2.symbols {
        display: block;
    }
}

.screen-wide, .screen-medium {
    display: none;
}

@media (min-width: 1620px) {
    .screen-wide {
        display: block;
    }
}

@media (min-width: 1270px) {
    .screen-medium {
        display: block;
    }
}

@media (min-width: 1140px) {
    .burger {
        display: none;
    }
}

