.symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbol-hoverable {
    transition: background-color 0.2s ease;
}

    .symbol-hoverable:hover {
        background-color: #FFF2;
    }

.symbol-terminal {
    width: 100%;
    border: 3px solid var(--white);
    box-sizing: border-box;
    height: 80px;
    text-align: center;
    border-radius: 2rem;
}

.symbol-process {
    width: 100%;
    border: 3px solid var(--white);
    box-sizing: border-box;
    border-radius: 5px;
    height: 80px;
    text-align: center;
}

.symbol-flowline {
    width: 160px;
}

.line {
    width: 140px;
    background: var(--white);
    height: 4px;
    float: left;
}

.point {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--white);
    float: right;
}

.symbol-io {
    position: relative;
}

    .symbol-io .shape {
        margin: 0 auto;
        border: 3px solid var(--white);
        box-sizing: border-box;
        border-radius: 5px;
        transform: skewX(-20deg);
    }

    .symbol-io span {
        position: absolute;
        text-align: center;
        pointer-events: none;
    }

.symbol-decision {
    position: relative;
}

    .symbol-decision .shape {
        border: 2.8px solid var(--white);
        box-sizing: border-box;
        border-radius: 3px;
    }

    .symbol-decision span {
        position: absolute;
        text-align: center;
        pointer-events: none;
    }
