.symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbol-hoverable {
    transition: background-color 0.2s ease;
}

    .symbol-hoverable:hover {
        background-color: #FFF2;
    }

    .symbol-hoverable.selected {
        background-color: #FFF4;
    }

.symbol-terminal {
    width: 100%;
    height: 80px;
    text-align: center;
}

    .symbol-terminal .shape {
        width: 100%;
        height: 100%;
        border: 3px solid var(--white);
        box-sizing: border-box;
        border-radius: 2rem;
    }

    .symbol-terminal span {
        position: absolute;
        pointer-events: none;
    }

.symbol-process {
    width: 100%;
    height: 80px;
    text-align: center;
}

    .symbol-process .shape {
        width: 100%;
        height: 100%;
        border: 3px solid var(--white);
        box-sizing: border-box;
        border-radius: 5px;
    }

    .symbol-process span {
        position: absolute;
        pointer-events: none;
    }

.symbol-flowline {
    width: 160px;
}

.line {
    width: 140px;
    background: var(--white);
    height: 4px;
    float: left;
}

.point {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--white);
    float: right;
}

.symbol-io {
    position: relative;
}

    .symbol-io .shape {
        margin: 0 auto;
        border: 3px solid var(--white);
        box-sizing: border-box;
        border-radius: 5px;
        transform: skewX(-20deg);
    }

    .symbol-io span {
        position: absolute;
        text-align: center;
        pointer-events: none;
    }

.symbol-decision {
    position: relative;
}

    .symbol-decision .shape {
        border: 2.8px solid var(--white);
        box-sizing: border-box;
        border-radius: 1px;
    }

    .symbol-decision span {
        position: absolute;
        text-align: center;
        pointer-events: none;
    }

.connect {
    position: absolute;
    border-radius: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--white);
    opacity: 0;
    transition: opacity 0.2s ease;
}

    .connect:hover {
        opacity: 1;
    }

.connect-bottom {
    width: 2rem;
    height: 2rem;
    bottom: -1rem;
    clip-path: rect(50% 100% 100% 0);
}

.connect-top {
    width: 2rem;
    height: 2rem;
    top: -1rem;
    clip-path: rect(0 100% 50% 0);
}

.connect-bottom-io {
    bottom: -0.9rem !important;
}

.connect-top-io {
    top: -0.9rem !important;
}

.connect-bottom-decision {
    bottom: -0.3rem !important;
}

.connect-top-decision {
    top: -0.3rem !important;
}

.connect-left-decision {
    width: 0.75rem !important;
    height: 0.75rem !important;
    left: -0.5rem !important;
    border-top: 2px solid var(--white);
    border-left: 3px solid var(--white);
    border-bottom: 2px solid var(--white);
}

    .connect-left-decision:hover {
        background-color: var(--white);
    }

.connect-right-decision {
    width: 0.75rem !important;
    height: 0.75rem !important;
    right: -0.5rem !important;
    border-top: 2px solid var(--white);
    border-right: 3px solid var(--white);
    border-bottom: 2px solid var(--white);
}

    .connect-right-decision:hover {
        background-color: var(--white);
    }