<header>
    <h1><img src="_content/FlowchartNET.Components/img/flowchart.svg" width="50" height="50" /> Flowchart.NET</h1>
</header>
<section>
    <menu>
        <h2 class="symbols">Symbols</h2>
        <li>
            <div class="terminal">
                <span>Start</span>
            </div>
        </li>
        <li>
            <div class="terminal">
                <span>End</span>
            </div>
        </li>
        <li>
            <div class="flowline">
                <div class="line"></div>
                <div class="point"></div>
            </div>
        </li>
        <li>
            <div class="process">
                <span>Process</span>
            </div>
        </li>
        <li>
            <div class="parallelogram">
                <span>Input</span>
            </div>
        </li>
        <li>
            <div class="parallelogram">
                <span>Output</span>
            </div>
        </li>
        <li>
            <div class="rhombus">
                <span>Decision</span>
            </div>
        </li>
    </menu>
    <main>
        Content
    </main>
</section>