@inject AppState AppState

<header>
    <Logo />
    <Toolbar />
</header>
<section>
    <Menu />
    <Workspace />
    <Properties />
    <Magnifier />
</section>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AppState.LoadAsync();
    }
}