@inject AppState AppState
@inject EventBroadcastService EventBroadcast

<header>
    <Logo />
    <Toolbar />
</header>
<section>
    <Menu />
    <Workspace />
    <Properties />
    <Magnifier />
</section>
<CodeWindow />

@code {
    protected override async Task OnInitializedAsync()
    {
        await AppState.LoadAsync();

        EventBroadcast.UpdateWorkspace();
        EventBroadcast.UpdateProperties();
    }
}