<header>
    <h1><img src="_content/FlowchartNET.Components/img/flowchart.svg" width="64" height="64" /> Flowchart.NET</h1>
    <div class="toolbar">
        <button class="button-noborder">
            <img src="_content/FlowchartNET.Components/img/add_circle.svg" width="48" height="48" />
        </button>
        <button class="button-noborder">
            <img src="_content/FlowchartNET.Components/img/folder_open.svg" width="48" height="48" />
        </button>
        <button class="button-noborder">
            <img src="_content/FlowchartNET.Components/img/download.svg" width="48" height="48" />
        </button>
        <button class="button-noborder">
            <img src="_content/FlowchartNET.Components/img/print.svg" width="48" height="48" />
        </button>
        <div class="vertical-line screen-wide"></div>
        <button class="button-noborder">
            <img src="_content/FlowchartNET.Components/img/file_export.svg" width="48" height="48" />
            <span class="screen-wide">Export as...</span>
        </button>
        <div class="vertical-line screen-wide"></div>
        <button class="button-noborder">
            <img src="_content/FlowchartNET.Components/img/frame_source.svg" width="48" height="48" />
            <span class="screen-wide">Generate code</span>
        </button>
        <div class="vertical-line screen-wide"></div>
        <button class="button-noborder">
            <img src="_content/FlowchartNET.Components/img/sdk.svg" width="48" height="48" />
            <span class="screen-medium">Mode: <b>Logical</b></span>
        </button>
        <button class="button-noborder align-right">
            <img src="_content/FlowchartNET.Components/img/light_mode.svg" width="48" height="48" />
        </button>
    </div>
    <button class="burger button-noborder align-right">
        <img src="_content/FlowchartNET.Components/img/menu.svg" width="48" height="48" />
    </button>
</header>
<section>
    <menu>
        <h2 class="symbols">Symbols</h2>
        <li class="button-noborder">
            <div class="terminal">
                <span>Start</span>
            </div>
        </li>
        <li class="button-noborder">
            <div class="terminal">
                <span>End</span>
            </div>
        </li>
        <li class="button-noborder">
            <div class="flowline">
                <div class="line"></div>
                <div class="point"></div>
            </div>
        </li>
        <li class="button-noborder">
            <div class="process">
                <span>Process</span>
            </div>
        </li>
        <li class="button-noborder">
            <div class="parallelogram">
                <span>Input</span>
            </div>
        </li>
        <li class="button-noborder">
            <div class="parallelogram">
                <span>Output</span>
            </div>
        </li>
        <li class="button-noborder">
            <div class="rhombus">
                <span>Decision</span>
            </div>
        </li>
    </menu>
    <main>
        Content
    </main>
</section>