.symbol-io .shape {
    width: calc(100% - (80px * tan(20deg)));
    height: 80px;
}

.symbol-decision .shape {
    width: calc(80px * sin(45deg) + 2px);
    height: calc(80px * sin(45deg) + 2px);
    transform: scaleX(2.5) rotate(45deg);
}