<menu>
    <h2 class="symbols">Symbols</h2>
    <MenuItem SymbolClass="terminal">
        <span>Start</span>
    </MenuItem>
    <MenuItem SymbolClass="terminal">
        <span>End</span>
    </MenuItem>
    <MenuItem SymbolClass="flowline">
        <div class="line"></div>
        <div class="point"></div>
    </MenuItem>
    <MenuItem SymbolClass="process">
        <span>Process</span>
    </MenuItem>
    <MenuItem SymbolClass="parallelogram">
        <span>Input</span>
    </MenuItem>
    <MenuItem SymbolClass="parallelogram">
        <span>Output</span>
    </MenuItem>
    <MenuItem SymbolClass="rhombus">
        <span>Decision</span>
    </MenuItem>
</menu>