@inject AppState AppState
@inject EventBroadcastService EventBroadcast

<menu>
    <h2 class="symbols">Symbols</h2>
    <MenuItem SymbolClass="symbol-terminal" Name="Start / End" OnMouseDown="SelectItemAsync" IsSelected="@IsSelected("symbol-terminal")"></MenuItem>
    <MenuItem SymbolClass="symbol-process" Name="Process" OnMouseDown="SelectItemAsync" IsSelected="@IsSelected("symbol-process")"></MenuItem>
    <MenuItem SymbolClass="symbol-io" Name="Input / Output" OnMouseDown="SelectItemAsync" IsSelected="@IsSelected("symbol-io")"></MenuItem>
    <MenuItem SymbolClass="symbol-decision" Name="Decision" OnMouseDown="SelectItemAsync" IsSelected="@IsSelected("symbol-decision")"></MenuItem>
</menu>

@code {
    private async Task SelectItemAsync(string name)
    {
        AppState.Persistent.MenuSelectedSymbolId = name;

        await AppState.PersistAsync();
    }

    private bool IsSelected(string identifier) => AppState.Persistent.MenuSelectedSymbolId == identifier;

    protected override void OnInitialized()
    {
        EventBroadcast.MenuUpdate += StateHasChanged;
    }
}