<button class="button-noborder @AdditionalCssClass">
    <img src="_content/FlowchartNET.Components/img/icons/@ImageUrl" alt="@ImageAlt" draggable="false" width="@ImageWidth" height="@ImageHeight" />
    @ChildContent
</button>

@code {
    /// <summary>
    /// The URL for the toolbar icon image relative to the 'img' folder.
    /// </summary>
    [Parameter, EditorRequired]
    public string ImageUrl { get; set; } = string.Empty;

    /// <summary>
    /// Optional alternate text for the image.
    /// </summary>
    [Parameter]
    public string? ImageAlt { get; set; }

    /// <summary>
    /// Image width (default is 48).
    /// </summary>
    [Parameter]
    public int ImageWidth { get; set; } = 48;

    /// <summary>
    /// Image height (default is 48).
    /// </summary>
    [Parameter]
    public int ImageHeight { get; set; } = 48;

    /// <summary>
    /// Optional child content (e.g. a span containing text).
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Optional additional CSS classes.
    /// </summary>
    [Parameter]
    public string AdditionalCssClass { get; set; } = "";
}