<div class="symbol symbol-decision" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px;">
    <div class="shape"></div>
    <span>Decision</span>
</div>

@code {
    [Parameter, EditorRequired]
    public required DecisionSymbolData Data { get; set; }
}
