@implements IDraggable

<div class="symbol symbol-terminal symbol-hoverable" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px; cursor: @(IsDragging ? "grabbing" : "grab");"
     @onmousedown="MouseDownAsync"
     @onmousedown:preventDefault="true">
    <span>End</span>
    <div @ref="point" class="connect connect-top" @onclick="() => OnPointClick.InvokeAsync(point)"></div>
</div>

@code {
    private ElementReference point;

    public bool IsDragging { get; set; }

    [Parameter, EditorRequired]
    public required EndSymbolData Data { get; set; }

    double IDraggable.X { get => Data.X; set => Data.X = value; }
    double IDraggable.Y { get => Data.Y; set => Data.Y = value; }

    [Parameter]
    public EventCallback<SymbolDragEventArgs> OnMouseDown { get; set; }

    [Parameter]
    public EventCallback<ElementReference> OnPointClick { get; set; }

    private async Task MouseDownAsync(MouseEventArgs e)
    {
        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e));
    }
}
