<div class="symbol symbol-process symbol-hoverable" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px;">
    <span>Process</span>
    <div class="connect connect-top"></div>
    <div class="connect connect-bottom"></div>
</div>

@code {
    [Parameter, EditorRequired]
    public required ProcessSymbolData Data { get; set; }
}
