<div class="symbol symbol-terminal symbol-hoverable" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px;">
    <span>Start</span>
    <div class="connect connect-bottom"></div>
</div>

@code {
    [Parameter, EditorRequired]
    public required StartSymbolData Data { get; set; }
}
