@using FlowchartNET.Components.Events
@implements IDraggable

<div class="symbol symbol-terminal" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px; cursor: @(IsDragging ? "grabbing" : "grab");">
    <div @ref="shape" class="shape symbol-hoverable" @onmousedown="MouseDownAsync"
         @onmousedown:preventDefault="true"
         @ontouchstart="TouchStartAsync"
         @ontouchstart:preventDefault="true"></div>
    <span>Start</span>
    <div @ref="point" class="connect connect-bottom" @onclick="() => OnPointClickAsync(shape, socket)" @onclick:stopPropagation="true"></div>
</div>

@code {
    private ElementReference shape;
    private ElementReference point;
    private static string socket = "bottom";

    public bool IsDragging { get; set; }

    [Parameter, EditorRequired]
    public required StartSymbolData Data { get; set; }

    Guid IDraggable.Id => Data.Id;
    double IDraggable.X { get => Data.X; set => Data.X = value; }
    double IDraggable.Y { get => Data.Y; set => Data.Y = value; }

    [Parameter]
    public EventCallback<SymbolDragEventArgs> OnMouseDown { get; set; }

    [Parameter]
    public EventCallback<PointClickEventArgs> OnPointClick { get; set; }

    private async Task MouseDownAsync(MouseEventArgs e)
    {
        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.ClientX, e.ClientY));
    }

    private async Task TouchStartAsync(TouchEventArgs e)
    {
        if (e.Touches.Length == 0)
        {
            return;
        }

        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.Touches[0].ClientX, e.Touches[0].ClientY));
    }

    private async Task OnPointClickAsync(ElementReference element, string socket)
    {
        await OnPointClick.InvokeAsync(new PointClickEventArgs(this, element, socket));
    }
}
